* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  background-color: #e9d8b3;
  font-family: system-ui;
  overflow-y: hidden;
  
}

main {
  padding: 10px;
  font-family: system-ui;
  width: 100%;
  height: 100vh;
  
}

.title {
  font-size: 3rem;
  display: grid;
  place-items: center;
}

a {
  text-decoration: none;
}

/* || SIDEBAR */
.sidebar {
  /* background-color: rgb(0, 7, 61); */
  background-color: #001935;
  color: whitesmoke; 
  height: 100vh;
  overflow: hidden;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}

.logo {
  font-size: 18px;
  line-height: 0;
}

.bars {
  width: 30px;
  font-size: 20px;
  align-items: center;
}

.hide {
  display: none;
}

.search {
  display: flex;
  align-items: center;
  margin: 10px 0;
  height: 30px;
  padding: 10px;
  align-items: center;
}

.search input {
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  background: rgb(238, 238, 238);
  color: rgb(0, 7, 61);
}

.routes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 20px;
}

.link {
  display: flex;
  color: whitesmoke;
  gap: 10px;
  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.link:hover {
  border-right: 4px solid whitesmoke;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  /*background: rgb(45, 51, 89);*/
  background: #DD0C1C;
}

.active {
  border-right: 4px solid whitesmoke;
  /*background: rgb(45, 51, 89);*/
  background: #DD0C1C;
}

.link-text {
  white-space: nowrap;
}


/* || VIDEO GALLERY */
.videos-container {
  display: inline-block;
  position: absolute;
  /* float: left; */
}

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  padding: 0.8rem;
}

.gallery .video {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 12px;
}

.gallery .video:hover {
  transform: scale(0.98);
}

@media (max-width: 991px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 50%;
  -moz-column-width: 50%;
  column-width: 50%;
  }
}

@media (max-width: 480px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}

.video-container {
  border-radius: 10px;
  overflow: hidden;
}

/* || MODEL */
.model {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;
  z-index: 999;
}

.model .model-close-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 5px;
  background-color: white;
  color: black;
  font-size: 2rem;
  cursor: pointer;
}

.model .video-container {
  width: auto;
  max-width: 75%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 1.5rem 0 1.5rem;
  margin: 2rem auto;
}

.bancotalento-container, .conocimiento-container, .videoteca-container, .login-container, .dashboard-container{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* BANCO DE TALENTO */



/* LOGIN */
.login-container {
  width: 100vw;
  height: 100vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 40px;
  /* background: rgba(202, 116, 116, 0.8); */
  /* background: rgb(202, 116, 116); */
  /* background: rgba(0, 0, 0, 0.8); */
  background: rgba(182, 78, 78, 0.8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.box .inputBox {
  position: relative;
}

.box .inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.box .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 2px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label {
  top: -25px;
  left: 0;
  color: #e9d8b3;
  font-size: 12px;
}

.login-btn {
  background: transparent;
  border: none;
  outline: none;
  color: #001935;
  background: #e9d8b3;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  width: 60%;


  transition: all 0.2s linear 0s;

}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 #E1CA98; }
}

.login-btn:hover, .pulse:focus {
  background: #E1CA98;
  color: black;
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

.logo-container {
  text-align: center;
  margin-bottom: 10px;
}

.logo-container img {
  width: 70%;
  height: 70%;
}

.logo-container-conoc {
  text-align: spac;
  margin-bottom: 10px;
}

.logo-container-conoc img {
  width: 15%;
  height: 15%;
  float: right;
}

.evaluations-btn {
  display: inline-block;
}

.logo-container-bt {
  text-align: right;
  margin-bottom: 10px;
}

.logo-container-bt img {
  width: 15%;
  height: 15%;
}

/* DASHBOARD */

.dashboard-container {
  justify-content: center;
  display: flex;
  align-items: center;
}

 img {
  width: 90%;
  height: 90%;
}